* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.page1 {
    position: sticky;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
    transition: top 1s, left 1s;
}

.page1.relative {
    position: relative;
    z-index: 100;
    transition: top 1s, left 1s;
}

.page2 {
    height: 50vh;
    width: 100vw;
    background-color: blanchedalmond;
}

#Category {
    height: 50vh;
    width: 600vw; 
    display: flex;
    position: relative;
    transition: left 0.8s ease;
}

#intro {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-shrink: 0;
}

#intro h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.section {
    background-color: rgb(235, 235, 149);
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.div-left {
    background-color: rgb(54, 69, 75);
    width: 70%; 
    transition: width 0.8s;
    height:50vh; 
}

.div-right {
    background-color: rgb(114, 106, 106);
    width: 30%;
    transition: width 0.8s;
    height:50vh;
}
