* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    position: relative;
    height: 100vh; 
    overflow-x: hidden; 
    width: 100vw;
}

#page2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
#hih{
    width: 80%;
    height: 80%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page0 {
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
}
#Category {
    height: 100vh;
    width: 600vw; 
    display: flex;
    position:relative;
    transition: left 0.8s ease;
    transition: top 0.8s ease;
}
#intro {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-shrink: 0;
}

#intro h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.section {
    background-color: rgb(235, 235, 149);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.div-left {
    background-color: rgb(54, 69, 75);
    width: 70%; 
    transition: width 0.8s;
    height:100vh; 
}

.div-right {
    background-color: rgb(114, 106, 106);
    width: 30%;
    transition: width 0.8s;
    height:100vh;
}
